:root {
  /* ===== Colors ===== */
  --color-primary: #BC6C25;
  --color-secondary: #DDA15E;
  --color-accent-1: #283618;
  --color-accent-2: #606C38;
  --color-background: #f2edf7;
  --color-text: #130F1A;

  /* ===== Fonts ===== */
  --font-primary: "Open Sans", sans-serif;
  --font-header: "Montserrat", sans-serif;

  /* ===== Font Weights ===== */
  --font-weight-normal: 400;
  --font-weight-semibold: 600;

  /* ===== Base Sizing ===== */
  --font-size-base: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: var(--font-weight-semibold);
  color: var(--color-accent-1);
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
